button {
  align-items: center;
  border: none;
  border-radius: 4px;
  color: aliceblue;
  justify-content: center;
  padding: 0;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  height: 25px;
  margin-left: 4%;
  width: 80px;
  margin-right: 50px;
}

.available {
    background-color: #65d493;
}

.unavailable {
    background-color: #f05157;
}

.arrived {
    background-color: auto;
    border: #65d493 1px solid;
    color: #65d493;
}